# build directory
build

# dependencies
vendor
schema
views/assets/thirdparties/vuetify/vue.js
views/assets/thirdparties/vuetify/vuetify.js
views/assets/thirdparties/vuetify/vuetify.min.css

# ide local
.vscode
tmp